@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

/* Override PhantomArtist Header margin */
[data-testid="main-page-heading"] {
  margin: 0 !important;
  margin-bottom: 0 !important;
}
